#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  height: 100vh; /* Use full viewport height */
  display: flex;
  flex-direction: column;
}


/* Make scrollbar invisible */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: transparent;
  transition: background-color 0.3s;
}

/* Show scrollbar on hover */
.scrollbar-thin:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

.chessboard-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .chessboard-container {
    width: 600px;
    height: 600px;
  }
}

/* Adjust the ChessBoard component to fill its container */
.chessboard-container > div {
  width: 100%;
  height: 100%;
}